@font-face {
    font-family: 'Iceberg';
    src: url('/public/fonts/Iceberg-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html {
    background-color: lightpink;
    font-family: 'Iceberg', sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: 'Iceberg', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: square;
}