@font-face {
    font-family: 'Iceberg';
    src: url('/public/fonts/Iceberg-Regular.ttf') format('truetype');
    font-display: swap;
}

html {
    background-color: lightpink;
    font-family: 'Iceberg', serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: peachpuff
}

a {
    text-decoration: none;
}

ul {
    list-style-type: square;
    color: peachpuff;
}

p {
    color:antiquewhite;
}

a:visited {
    color:rgba(174, 245, 174, 0.99);
}